*.pyc
key.txt
db.sqlite3
__pycache__
.coverage
htmlcov
_build
*.idea
reports
secrets/*
.vscode

.mypy_cache/*
.pytest_cache/*

env/
.envs/.local/.secrets
.local_postgres_data/
docs/build

pip-log.txt
pip-delete-this-directory.txt
